<header class="toppage-main">
  <div class="contents">
    <div class="contents-top">
      <div class="contents-logo">
        <i class="fas fa-dumbbell"></i>
        Gotore
        <i class="fas fa-dumbbell"></i>
      </div>
    </div>
    <div class="contents-bottom">
      <div class="contents-bottom-left">
        <div class="contents-search-left">
          <i class="fas fa-location-arrow"></i>
          地域で探す
        </div>
        <div class="contents-search-right">
          <i class="fas fa-road"></i>
          目的で探す
        </div>
      </div>
      <div class="contents-bottom-right">
        <div class="contents-like">
          <i class="far fa-heart"></i>
          いいね一覧
        </div>
        <div class="contents-mypage">
          <i class="fas fa-user-circle"></i>
          マイページ
        </div>
      </div>
    </div>
  </div>
</header>