%body
  %header.toppage-main
    .contents
      .contents-top
        .contents-logo
          %i.fas.fa-dumbbell
          Gotore
          %i.fas.fa-dumbbell
      .contents-bottom
        .contents-bottom-left
          .contents-search-left
            %i.fas.fa-location-arrow
            地域で探す
          .contents-search-right
            %i.fas.fa-road
            目的で探す
        .contents-bottom-right
          .contents-like
            %i.far.fa-heart
            いいね一覧
          .contents-mypage
            %i.fas.fa-user-circle
            マイページ
