<div class="side-bar">
  <ul class="side-menu">
    <li>
      <a href="#", class="side-list">サイドメニュー</a>
    </li>
    <li>
      <a href="#", class="side-list">サイドメニュー</a>
    </li>
    <li>
      <a href="#", class="side-list">サイドメニュー</a>
    </li>
    <li>
      <a href="#", class="side-list">サイドメニュー</a>
    </li>
    <li>
      <a href="#", class="side-list">サイドメニュー</a>
    </li>
  </ul>
</div>