.side-bar
  %ul.side-menu
    %li
      %a{:href => "#"}>
      , class="side-list"&gt;&#x30B5;&#x30A4;&#x30C9;&#x30E1;&#x30CB;&#x30E5;&#x30FC;
  %li
    %a{:href => "#"}>
    , class="side-list"&gt;&#x30B5;&#x30A4;&#x30C9;&#x30E1;&#x30CB;&#x30E5;&#x30FC;
%li
  %a{:href => "#"}>
  , class="side-list"&gt;&#x30B5;&#x30A4;&#x30C9;&#x30E1;&#x30CB;&#x30E5;&#x30FC;
