.side-bar
  %ul.side-menu
    %li
      =link_to "#", {class:"side_menu" } do
        マイページ
    %li
      =link_to "#", {class:"side_menu" } do
        投稿する
    %li
      = link_to destroy_user_session_path , method: :delete do
        ログアウト
