= render :partial => "shared/main-header"
.contents-new
  .fit-box
    .contents-top
      = image_tag 'my-page.jpg', class: "image"
      .top-right
        .name-box
          @gotore25
        .postdate-box
          12月24日
    .contents-bottom
