<%= render :partial => "shared/main-header" %>

<div class="contents-new">
  <div class="fit-box">
    <div class="contents-top">
      <%= image_tag 'my-page.jpg', class: "image" %>
      <div class="top-right">
        <div class="name-box">
          @gotore25
        </div>
        <div class="postdate-box">
          12月24日
        </div>
      </div>
    </div>
    <div class="contents-bottom">
      


    </div>
  </div>
</div>