= render :partial => "shared/main-header"
.contents-show
  .fit-box
    .contents-top
      = image_tag 'my-page.jpg', class: "image"
      .top-right
        .name-box
          @gotore25
        .postdate-box
          12月24日
    .contents-bottom
      .place-box
        %i.fas.fa-map-marker-alt
        エニタイムなんば店
      .date-box
        %i.far.fa-calendar-alt
        12月24日14時
      .title-box
        一緒に筋トレしましょう！
      .text-box
        筋トレ初心者です。
        胸と脚中心で合トレしましょう！
