#yjContentsBody {
  padding: 10px;
  margin: 250px auto;
  width: 500px;
  background-color: white;
  h2 {
    font-size: 30px;
  }
  #user_email {
    height: 40px;
    width: 320px;
  }
  #user_password {
    height: 40px;
    width: 320px;
  }
  #user_password_confirmation {
    height: 40px;
    width: 320px;
  }
}