.contents-new {
  .fit-box {
    background-color: #ffffff;
    width: 700px;
    margin: 30px auto;
    padding-top: 15px;
    .contents-top {
      height:60px;
      display: flex;
      .image {
        margin-left: 15px;
        height: 60px;
        width:60px;
        border-radius: 50%;
      }
      .top-right {
        margin-left: 10px;
        .name-box {
          font-size: 20px;
          margin-top: 5px;
          font-weight: bold;
        }
        .postdate-box {
          font-size: 14px;
          margin-top: 10px;
          font-weight: 700;
          color: #c0c0c0;
        }
      }
    }
    .contents-bottom {
      margin: 10px 0;
      .main-box {
        border-bottom: 1px solid white;
        width : 100%;
        padding: 40px;
      }
      .main-place {
        width: 620px;
        height: 70px;
      }
      .input-place {
        height: 48px;
        width: 620px;
        font-size:16px;
        margin: 8px 0 0 0;
        padding: 10px 16px 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      .main-date {
        width: 620px;
        height: 70px;
        margin: 40px 0 0;
      }
      .input-date {
        height: 48px;
        width: 620px;
        font-size:16px;
        margin: 8px 0 0 0;
        padding: 10px 16px 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      .main-title {
        width: 620px;
        height: 70px;
        margin: 40px 0 0;
      }
      label {
        font-weight: 600;
      }
      .input-title {
        height: 48px;
        width: 620px;
        font-size:16px;
        margin: 8px 0 0 0;
        padding: 10px 16px 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      .main-text {
        height: 164px;
        width: 620px;
        margin: 40px 0 0 ;
      }
      .textarea{
        height: 142px;
        width: 620px;
        margin: 8px 0 0 0 ;
        padding:10px;
        font-size:16px;
        line-height: 1.5;
        border: 1px solid #ccc;
        min-height: 104px;
      }
    }
  }
}
