.contents-new {
  .fit-box {
    background-color: #ffffff;
    width: 700px;
    margin: 130px auto;
    padding-top: 15px;
    .contents-top {
      height:60px;
      display: flex;
      .image {
        margin-left: 15px;
        height: 60px;
        width:60px;
        border-radius: 50%;
      }
      .top-right {
        margin-left: 10px;
        .name-box {
          font-size: 20px;
          margin-top: 5px;
          font-weight: bold;
        }
      }
    }
    .contents-bottom {
      margin: 10px 0;
      .main-box {
        border-bottom: 1px solid white;
        width : 100%;
        padding: 10px 40px 0 40px;
        .main-place {
          width: 620px;
          height: 70px;
        }
        .input-place {
          height: 48px;
          width: 620px;
          font-size:16px;
          margin: 8px 0 0 0;
          padding: 10px 16px 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
        .main-date {
          width: 620px;
          height: 70px;
          margin: 40px 0 0;
        }
        .input-date {
          height: 48px;
          width: 620px;
          font-size:16px;
          margin: 8px 0 0 0;
          padding: 10px 16px 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
        .main-title {
          width: 620px;
          height: 70px;
          margin: 40px 0 0;
        }
        label {
          font-weight: 600;
        }
        .input-title {
          height: 48px;
          width: 620px;
          font-size:16px;
          margin: 8px 0 0 0;
          padding: 10px 16px 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
        .main-text {
          height: 164px;
          width: 620px;
          margin: 40px 0 0 ;
        }
        .textarea{
          height: 142px;
          width: 620px;
          margin: 8px 0 0 0 ;
          padding:10px;
          font-size:16px;
          line-height: 1.5;
          border: 1px solid #ccc;
          min-height: 104px;
        }
      }
      .main-bottom {
        height: 329px;
        width: 100%;
        padding: 40px;
        .text-notes {
          p {
            padding: 0;
            margin: 0;
            height: 100%;
            line-height: 1.5;
          }
        }
        button[type="submit"] {
          margin-top: 24px;
          width: 100%;
          height: 48px;
          font-size: 14px;
          cursor: pointer;
          border-radius: 4px;
          outline:none;
        }
        button[type="button"] {
          background-color: #aaa;
          width: calc(50% - 6px);
          margin: 24px auto 0;
          cursor: pointer;
          display: block;
          font-size: 14px;
          line-height: 48px;
          border: 1px solid transparent;
          border-radius: 4px;
          outline:none;
        }
      }
    }
  }
}
