.contents-show {
  .fit-box {
    background-color: #ffffff;
    width: 700px;
    margin: 30px auto;
    .contents-top {
      height:60px;
      display: flex;
      margin: 5px 0;
      .image {
        margin-left: 5px;
        height: 60px;
        width:60px;
        border-radius: 50%;
      }
      .top-right {
        margin-left: 10px;
        .name-box {
          font-size: 20px;
          margin-top: 5px;
          font-weight: bold;
        }
        .postdate-box {
          font-size: 14px;
          margin-top: 10px;
          font-weight: 700;
          color: #c0c0c0;
        }
      }
    }
    .contents-bottom {
      margin: 10px;
      .place-box {
        margin-bottom: 10px;
        font-weight: bold;
      }
      .date-box {
        font-family: octin-college, sans-serif;
        margin-bottom: 30px;
        font-weight: bold;
      }
      .title-box {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
      }
      .text-box {
        font-weight: 500;
      }
    }
  }
}
