.contents-show {
  .fit-box {
    background-color: #ffffff;
    width: 700px;
    margin: 30px auto;
    padding-top: 15px;
    .contents-top {
      height:60px;
      display: flex;
      margin: 5px 0;
      .image {
        height: 60px;
        border-radius: 50%;
        margin-left: 15px;
      }
      .top-right {
        margin-left: 10px;
        .name-box {
          font-size: 20px;
          margin-top: 5px;
          font-weight: bold;
        }
        .postdate-box {
          font-size: 14px;
          margin-top: 10px;
          font-weight: 700;
          color: #c0c0c0;
        }
      }
    }
    .contents-bottom {
      margin: 10px;
      .place-box {
        margin-bottom: 10px;
        font-weight: bold;
      }
      .date-box {
        font-family: octin-college, sans-serif;
        margin-bottom: 30px;
        font-weight: bold;
      }
      .title-box {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
      }
      .text-box {
        font-weight: 500;
        word-wrap: break-word;
      }
    }
    .contents-comments {
      padding: 30px 30px 0 30px;
      h4 {
        line-height: 1.57;
        letter-spacing: 0.15em;
        font-size: 16px;
        color: #666;
        border-bottom: solid 1px #666;
      }
      .comment-box {
        margin-top: 20px;
        .comment-user {
          display: flex;
          margin: 5px;
          .image {
          height: 40px;
          border-radius: 50%;
          }
          .user-right {
            margin-left: 10px;
            .user-name {
              font-weight: bold;
              margin-top: 5px;
            }
            .comment-date {
              margin: 5px 0 0 5px;
              color: #c0c0c0;
              font-weight: bold;
            }
          }
        }
        .comment-text {
          font-weight: bold;
          margin-top: 10px;
          word-wrap: break-word;
        }
      }
    }
  .contents-form {
    padding: 20px 20px 10px 20px;
    .form-text {
      width: 100%;
      line-height: 1.5;
      min-height: 104px;
      outline: 0;
      padding: 10px;
      font-size: 16px;
      }
      .send-btn {
        width: 100%;
        margin: 8px 0 0;
        line-height: 48px;
        font-size: 14px;
        background: #aaa;
        border: 1px solid #aaa;
        color: #fff;
        outline: 0;
      }
    }
  }
}
